html
  head
    title How Many Days?
    meta(name='description', content='Home page')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='./style.css')
  body
    h1.justify-center.font-bold How Many Days Until... ?
    hr
    div#events_div.justify-center
        div.event Sample Event (10 days)
        div.event Sample Event 2 (23 days)
        div.event Sample Event 3 (100 days)
